html {
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  background-color: #f2f2f2;
}

form div {
  margin-bottom: 1rem;
}

form {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

h1 {
  border-bottom: solid 1px #000;
}

button {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  form {
    padding: 0;
  }

  .name {
    padding-right: 1em;
  }

  .email {
    padding-right: 1em;
  }

}
